@import 'shared.scss'; // Imports shared variables and styles

body {
  font-family: $font-def;
  background: $clr-yell-0;
}


/* ======================================================================
  HEADER
====================================================================== */
.Header {
  background: #ffffff;
  width: 100%;
  height: 10rem;
}

.site-logo {
  background: no-repeat center url('../img/as_logo.svg');
  background-size: auto 5rem;
  height: 10rem;
  width: 25rem;
  margin: 0 0 0 10rem;
  overflow: hidden;
  text-indent: -9999%;

  a {
    display: block;
    height: 100%;
  }
}
