@import 'shared.scss'; // Imports shared variables and styles

body {
  font-family: $font-def;
  background: $clr-yell-0;
}


/* ======================================================================
  HEADER
====================================================================== */
.Header {
  background: #ffffff;
  width: 100%;
  height: 10rem;
}

.site-logo {
  float: left;
  background: no-repeat center url('../img/as_logo.svg');
  background-size: auto 5rem;
  height: 10rem;
  width: 25rem;
  margin: 0 0 0 10rem;
  overflow: hidden;
  text-indent: -9999%;

  a {
    display: block;
    height: 100%;
  }
}

.site-nav {
  float: right;
  font-family: $font-inf;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  height: 5rem;
  margin: 3rem 10rem 0 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    height: 4rem;
    line-height: 4rem;
  }

  a {
    display: block;
    height: 100%;
    margin-left: 5rem;
    color: $clr-dark-2;
    text-decoration: none;
    border-bottom: 0.2rem solid transparent;
    transition: border 200ms ease-out;

    &:hover {
      border-bottom: 0.2rem solid $clr-dark-2;
    }
  }
}
