/* ======================================================================
*  TYPOGRAPHY
====================================================================== */
$font-def: 'Lora', sans-serif;
$font-acc: 'Playfair Display', serif;
$font-inf: 'Raleway', sans-serif;
$ln-height-def: 1.25;
$ln-height-body: 1.5;



/* ======================================================================
*  COLORS
====================================================================== */
$clr-blue: #4BABC6;
$clr-blue-0: #B9E4F0;
$clr-blue-1: #25849F;
$clr-blue-2: #01556D;
$clr-blue-3: #0E2227;

$clr-yell: #FFCE5B;
$clr-yell-0: #FFEDC2;
$clr-yell-1: #FFC335;
$clr-yell-2: #AF7B00;
$clr-yell-3: #3F3316;

$clr-orng: #FFAE5B;
$clr-orng-0: #FFE1C2;
$clr-orng-1: #FF9B35;
$clr-orng-2: #AF5800;
$clr-orng-3: #3F2A16;

$clr-red: #FF715B;
$clr-red-0: #FFCAC2;
$clr-red-1: #FF5135;
$clr-red-2: #AF1800;
$clr-red-3: #3F1B16;

$clr-super-lite: #FAFAFA;
$clr-lite: #EFEFEF;
$clr-lite-0: #F5F5F5;
$clr-lite-1: #DFDFDF;
$clr-lite-2: #A5A5A5;
$clr-lite-3: #7F7F7F;

$clr-dark: #555555;
$clr-dark-0: #6F6F6F;
$clr-dark-1: #333333;
$clr-dark-2: #1E1E1E;
$clr-dark-3: #111111;



/* ======================================================================
*  SCALE (FACTOR 1.25)
====================================================================== */
$scale-base:  2.0rem;

$scale-sm:    1.6rem;
$scale-xs:    1.2rem;
$scale-min:   1.0rem;

$scale-1: 2.5rem;
$scale-2: 3.0rem;
$scale-3: 4.0rem;
$scale-4: 5.0rem;
$scale-5: 6.0rem;
$scale-6: 7.5rem;
$scale-7: 9.5rem;
$scale-8: 12.0rem;
$scale-9: 15.0rem;
$scale-10: 18.5rem;
$scale-11: 23.3rem;
$scale-12: 29.0rem;
$scale-13: 36.3rem;
$scale-14: 45.5rem;
$scale-15: 57.0rem;



/* ======================================================================
*  RESPONSIVE BREAKPOINTS
====================================================================== */
$bp-container: 1000px;
$bp-container-wide: 1200px;

$bp-xxs-less: 300px;
$bp-xxs:      400px;
$bp-xxs-more: 450px;

$bp-xs-less:  500px;
$bp-xs:       600px;
$bp-xs-more:  700px;

$bp-sm-less:  800px;
$bp-sm:       900px;
$bp-sm-more:  1000px;

$bp-md-less: 1100px;
$bp-md:      1200px;
$bp-md-more: 1300px;

$bp-lg-less:  1400px;
$bp-lg:       1500px;
$bp-lg-more:  1600px;

$bp-xl-less:  1700px;
$bp-xl:       1800px;
$bp-xl-more: 2000px;


/* ----------------------------------------------------------------------
*  RESPONSIVE BREAKPOINTS - Media Queries
----------------------------------------------------------------------
* Using these media query mixins is easy! Think of mixins as functions.
*
* Suppose we have an element ".article" which we would like to apply
* a media query style to. To use the medium breakpoint ($bp-med) media query
* simply use it as such:
*
* .article {
*   font-size: 10rem;
*   @include mq-med {
*     font-size: 20rem;
*   }
* }
}
---------------------------------------------------------------------- */

@mixin mq-xxs-less  { @media (min-width: $bp-xxs-less)  { @content }};
@mixin mq-xxs       { @media (min-width: $bp-xxs)       { @content }};
@mixin mq-xxs-more  { @media (min-width: $bp-xxs-more)  { @content }};

@mixin mq-xs-less   { @media (min-width: $bp-xs-less)   { @content }};
@mixin mq-xs        { @media (min-width: $bp-xs)        { @content }};
@mixin mq-xs-more   { @media (min-width: $bp-xs-more)   { @content }};

@mixin mq-sm-less   { @media (min-width: $bp-sm-less)   { @content }};
@mixin mq-sm        { @media (min-width: $bp-sm)        { @content }};
@mixin mq-sm-more   { @media (min-width: $bp-sm-more)   { @content }};

@mixin mq-md-less   { @media (min-width: $bp-md-less)   { @content }};
@mixin mq-md        { @media (min-width: $bp-md)        { @content }};
@mixin mq-md-more   { @media (min-width: $bp-md-more)   { @content }};

@mixin mq-lg-less   { @media (min-width: $bp-lg-less)   { @content }};
@mixin mq-lg        { @media (min-width: $bp-lg)        { @content }};
@mixin mq-lg-more   { @media (min-width: $bp-lg-more)   { @content }};

@mixin mq-xl-less   { @media (min-width: $bp-xl-less)   { @content }};
@mixin mq-xl        { @media (min-width: $bp-xl)        { @content }};
@mixin mq-xl-more   { @media (min-width: $bp-xl-more)   { @content }};
