/* ======================================================================
  BASE STYLES
====================================================================== */
@import 'normalize'; // Normalizes styles for consistency across browsers

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
}



/* ======================================================================
  TYPOGRAPHY
====================================================================== */
$font-def: 'Lora', sans-serif;
$font-acc: 'Playfair Display', serif;
$font-inf: 'Raleway', sans-serif;



/* ======================================================================
  COLORS
====================================================================== */
$clr-blue: #4BABC6;
$clr-blue-0: #B9E4F0;
$clr-blue-1: #25849F;
$clr-blue-2: #01556D;
$clr-blue-3: #0E2227;

$clr-yell: #FFCE5B;
$clr-yell-0: #FFEDC2;
$clr-yell-1: #FFC335;
$clr-yell-2: #AF7B00;
$clr-yell-3: #3F3316;

$clr-orng: #FFAE5B;
$clr-orng-0: #FFE1C2;
$clr-orng-1: #FF9B35;
$clr-orng-2: #AF5800;
$clr-orng-3: #3F2A16;

$clr-red: #FF715B;
$clr-red-0: #FFCAC2;
$clr-red-1: #FF5135;
$clr-red-2: #AF1800;
$clr-red-3: #3F1B16;

$clr-lite: #EFEFEF;
$clr-lite-0: #F5F5F5;
$clr-lite-1: #DFDFDF;
$clr-lite-2: #A5A5A5;
$clr-lite-3: #7F7F7F;

$clr-dark: #555555;
$clr-dark-0: #6F6F6F;
$clr-dark-1: #333333;
$clr-dark-2: #1E1E1E;
$clr-dark-3: #111111;
