@import 'styles/shared.scss'; // Imports shared variables and styles

/* ======================================================================
  HEADER
====================================================================== */
.Header {
  background: #ffffff;
  width: 100%;
  height: 5rem;
  padding: 0 1.25rem;
  z-index: 2;
  position: absolute;
  top: 0;

  @at-root &_transparent {
    background: transparent;
  }

  @include mq-sm-less {
    padding: 0 2.5rem;
  }
  @include mq-sm {
    height: 6.667rem;
  }
  @include mq-med {
    height: 7.5rem;
  }
  @include mq-lg {
    height: 8.5rem;
    padding: 0 5rem;
  }
  @include mq-lg-more {
    height: 10rem;
  }
}

.Header-logo {
  float: left;
  color: $clr-dark-2;
  font-family: $font-def;
  font-size: $scale-base;
  line-height: 5rem;
  height: 5rem;
  margin: 0;

  @at-root .Header_transparent & {
    color: #ffffff;
  }

  a {
    display: block;
    height: 100%;
    color: inherit;
    text-decoration: none;
  }

  @include mq-sm {
    line-height: 6.667rem;
    height: 6.667rem;
  }
  @include mq-med {
    font-size: $scale-1;
    line-height: 7.5rem;
    height: 7.5rem;
  }
  @include mq-lg {
    line-height: 8.5rem;
    height: 8.5rem;
  }
  @include mq-lg-more {
    font-size: $scale-2;
    line-height: 10rem;
    height: 10rem;
  }
}

.Header-logo__img {
  height: 2.5rem;
  width: auto;
  vertical-align: middle;

  @at-root .Header_transparent & {
    filter: brightness(0%) invert(100%) drop-shadow(0px 1px 1px rgba(0,0,0,0.5));
  }

  @include mq-sm {
    height: 2.75rem;
  }
  @include mq-med {
    height: 3.333rem;
  }
  @include mq-lg {
    height: 4rem;
  }
  @include mq-lg-more {
    height: 5rem;
  }
}

.Header-nav {
  float: right;
  font-family: $font-inf;
  font-size: $scale-xs;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 1.5rem 0 0 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @include mq-sm {
    margin-top: 2.5rem;
  }
  @include mq-med {
    margin-top: 3rem;
  }
  @include mq-lg {
    font-size: $scale-sm;
    margin-top: 3.5rem;
  }
  @include mq-lg-more {
    margin-top: 4rem;
  }
}

.Header-nav__item {
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 1.25rem;
  height: 2rem;
  line-height: 2rem;
  color: $clr-dark-2;
  // outline: 1px solid red;

  a {
    display: block;
    height: 100%;
    color: inherit;
    text-decoration: none;
    border-bottom: 0.2rem solid transparent;
    transition: border 200ms ease-out;

    &:hover {
      border-bottom: 0.2rem solid $clr-dark-2;
    }
  }

  @at-root .Header_transparent & {
    color: #ffffff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);

    a:hover {
      border-color: #ffffff;
    }
  }

  @include mq-xs-less {
    margin-left: 1.75rem;
  }
  @include mq-xs {
    margin-left: 2rem;
  }
  @include mq-sm {
    margin-left: 2.5rem;
  }
  @include mq-lg {
    height: 2.5rem;
    margin-left: 3.333rem;
  }
}

.Header-nav__item_optional {
  display: none;

  @include mq-xxs-more {
    display: list-item;
  };
}
