@import 'styles/shared.scss'; // Imports shared variables and styles

/* ======================================================================
  HEADER
====================================================================== */
.Header {
  background: #ffffff;
  width: 100%;
  height: 5rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  color: inherit;
  letter-spacing: 0.2ch;
  text-transform: uppercase;
  font-family: $font-inf;
  font-weight: 600;
  font-size: $scale-xs;

  @include mq-sm {
    font-size: $scale-sm;
  }
  @include mq-md {
    padding: 0 2.5rem;
  }

  @at-root &_transparent {
    background: transparent;
    z-index: 2;
    position: absolute;
    top: 0;
  }


  @include mq-sm {
    height: 7.5rem;
  }
  @include mq-md {
    height: 10rem;
  }
}


/* ----------------------------------------------------------------------
  HEADER / logo
---------------------------------------------------------------------- */
.Header-logo {
  // float: left;
  color: $clr-dark-2;
  font-family: $font-def;
  font-size: $scale-base;
  margin: 0;

  @at-root .Header_transparent & {
    color: #ffffff;
  }

  a {
    color: inherit;
    text-decoration: none;
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
    height: 100%;

    @include mq-sm {
      padding: 0 2.5rem;
    }
  }
}

.Header-logo__img {
  height: 2.75rem;
  width: auto;

  @at-root .Header_transparent & {
    filter: brightness(0%) invert(100%) drop-shadow(0px 1px 1px rgba(0,0,0,0.5));
  }

  @include mq-sm {
    height: 3.5rem;
  }
  @include mq-md {
    height: 4.25rem;
  }
}


/* ----------------------------------------------------------------------
  HEADER / nav
---------------------------------------------------------------------- */
.Header-nav {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  margin: 0;

  @include mq-sm {
    font-size: 0.875em;
  }
  @include mq-md {
    font-size: 1em;
  }


  .Header-nav__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: flex-end;
    align-items: stretch;
    text-align: center;
  }
}

.Header-nav__item {
  color: $clr-dark-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 1.25rem;
    text-align: right;
    text-decoration: none;
    color: inherit;
    opacity: 0.9;
    transition: border 200ms ease-out;

    &:hover {
      opacity: 1;
    }

    @include mq-sm {
      padding: 0 2.5rem;
    }
  }

  @at-root .Header_transparent & {
    color: #ffffff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);

    a:hover {
      border-color: #ffffff;
    }
  }
}

.Header-nav__item_optional {
  display: none;

  @include mq-xxs-more {
    display: list-item;
  };
}
