@import 'styles/shared.scss'; // Imports shared variables and styles

/* ======================================================================
*  CONTACT
====================================================================== */

.Contact .contact-wrapper {
  display: grid;
}

.Contact .contact-img {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  margin-top: 2.5rem;
  grid-column: 1/2;
}

.Contact .contact-info {
    grid-column: 1/2;
    padding: 0 1.25rem;
}

.Contact .contact-heading {
  text-align: center;
  font-size: 1.75em;
}

.Contact .contact-options {
  list-style: none;
  margin: auto;
  padding: 0;
  
  a {
      display: block;
      font-family: $font-inf;
      font-size: 1.25em;
      text-decoration: none;

      color: $clr-dark-1;
      background: $clr-lite-0;
      padding: 1.25rem 2.5rem;
      margin: 1.25rem 0;
      transition: all 300ms ease-out;
      
      &:hover, &:focus, &:active {
        color: #ffffff;
        background: $clr-dark-2;
      }
      
      .fa { margin-right: 0.5em; font-size: 1.5em; }
  }
  
  li {
  }
}
