@import 'styles/shared.scss'; // Imports shared variables and styles

/* ======================================================================
*  HOME
====================================================================== */

/* ----------------------------------------------------------------------
*  Intro
---------------------------------------------------------------------- */

.Slide_intro {
  border: none;
  background-position: center top;
  background-image: url("./img/arpit-sheth-intro@xs.jpg");

  @include mq-xs {
    // background-image: url("./img/arpit-sheth-intro@sm.jpg");
  }
  @include mq-sm {
    // background-image: url("./img/arpit-sheth-intro@md.jpg");
  }
  @include mq-md {
    // background-image: url("./img/arpit-sheth-intro@lg.jpg");
  }
  @include mq-lg {
    // background-image: url("./img/arpit-sheth-intro@xl.jpg");
  }
  
  .Slide__content {
    padding-top: 50vh;
    background: linear-gradient(to bottom, 
      rgba(0,0,0,0.4) 0%,
      rgba(0,0,0,0.0) 15%,
      rgba(0,0,0,0.4) 50%,
      rgba(0,0,0,0.4) 75%,
      rgba(0,0,0,0.2) 100%);
    
    @include mq-md {
      background: linear-gradient(to bottom, 
      rgba(0,0,0,0.25) 0%,
      rgba(0,0,0,0.0) 10%,
      rgba(0,0,0,0.0) 35%,
      rgba(0,0,0,0.25) 50%,
      rgba(0,0,0,0.35) 75%,
      rgba(0,0,0,0.0) 100%);
    }
  }
  
  .Slide__title {
    font-size: 10vw;
    @include mq-xs {
      font-size: 7.5vw;
    }
    @include mq-sm {
      font-size: 6.667vw;
    }
    @include mq-lg {
      font-size: 5.555vw;
    }
  }

  .Slide__subtitle {
    max-width: 37.5rem;
    margin: auto;

    @include mq-sm {
      max-width: none;
      width: 40rem;
    }
    @include mq-md {
      font-size: 2.5vw;
      width: 66.667%;
    }
    @include mq-lg {
      font-size: 2vw;
      width: 60%;
    }
  }
}


/* ----------------------------------------------------------------------
  Intro / Scroll
---------------------------------------------------------------------- */
.Slide__scroll {
  // outline: 2px solid gold;
  width: 100vw;
  height: 7.5rem;
  padding: none;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;

  @include mq-sm {
    height: 8.5rem;
  }
  @include mq-md {
    height: 10rem;
  }

  img {
    width: 3.5rem;
    height: 3.5rem;
    animation: FloatDown 2s infinite alternate;

    @include mq-sm {
      width: 5rem;
      height: 5rem;
    }
    @include mq-md {
      width: 6rem;
      height: 6rem;
    }
  }
}

@keyframes FloatDown {
  0% {
    opacity: 0.8;
    transform: translateY(0%)
  }
  80% {
    opacity: 1;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(50%);
  }
}




/* ----------------------------------------------------------------------
*  Crater
---------------------------------------------------------------------- */
.Slide_crater {

}




/* ----------------------------------------------------------------------
*  Matter
---------------------------------------------------------------------- */
.Slide_matter {
  
}




/* ----------------------------------------------------------------------
*  Education
---------------------------------------------------------------------- */
.Slide_education {
  
}