@import 'styles/shared.scss'; // Imports shared variables and styles

/* ======================================================================
  SLIDES
====================================================================== */
.Slide {
  height: 100vh;
  border: 1.25rem solid #ffffff;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mq-sm {
    border-width: 2.5rem;
  }
  @include mq-md {
    border-width: 5rem;
  }
}


/* ----------------------------------------------------------------------
  SLIDES / Content
---------------------------------------------------------------------- */
$grd-screen-strong: linear-gradient(to bottom,
  rgba(0,0,0,0.4) 0%,
  rgba(0,0,0,0.6) 25%,
  rgba(0,0,0,0.6) 50%,
  rgba(0,0,0,0.4) 100%);

$grd-screen-medium: linear-gradient(to bottom, 
  rgba(0,0,0,0.2) 0%,
  rgba(0,0,0,0.5) 30%,
  rgba(0,0,0,0.5) 50%,
  rgba(0,0,0,0.2) 100%);

 $grd-screen-light: linear-gradient(to bottom, 
    rgba(0,0,0,0.0) 0%,
    rgba(0,0,0,0.5) 30%,
    rgba(0,0,0,0.5) 50%,
    rgba(0,0,0,0.2) 100%);

.Slide__content {
  background: $grd-screen-strong;
  margin: 0;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding: 25vh 3.75rem 3.75rem 3.75rem;

  @include mq-xs {
    padding: 25vh 16.6665vw 5rem 16.6665vw;
  }
  @include mq-sm {
    padding: 25vh 20vw 5rem 20vw;
  }


  /* ----------------------------------------------------------------------
    SLIDES / Content / Wide
  ---------------------------------------------------------------------- */
  &_wide {
    @include mq-xs {
      padding: 25vh 10vw 5rem 10vw;
    }
  }
}


/* ----------------------------------------------------------------------
  SLIDES / Title
---------------------------------------------------------------------- */
.Slide__title {
  font-family: $font-inf;
  font-weight: 400;
  font-size: 4.5vh;
  color: rgba(255,255,255,0.9);
  text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
  margin: 0;

  @include mq-xs {
    font-size: 4.5vw; 
  }
  @include mq-sm {
    font-size: 4.2vw;
  }
  @include mq-md {
    font-size: 4.0vw;
  }

  em {
    color: rgba(255,255,255,1);
    font-weight: 400;
    font-style: normal;
  }
  strong {
    color: rgba(255,255,255,1);    
    font-family: $font-acc;
  }
}


/* ----------------------------------------------------------------------
  SLIDES / Subtitle
---------------------------------------------------------------------- */
.Slide__subtitle {
  font-family: $font-def;
  font-size: $scale-base;
  font-weight: normal;
  color: inherit;

  @include mq-sm {
    font-size: $scale-1;
  }
  @include mq-md {
    font-size: $scale-2;
  }
}


/* ----------------------------------------------------------------------
  SLIDES / Body
---------------------------------------------------------------------- */
.Slide__body {
  font-size: $scale-sm;
  margin-top: 1em;

  @include mq-sm {
    margin-top: 1.5em;
    font-size: $scale-base;
  }
  @include mq-md {
    margin-top: 2em;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  @at-root &_font-inf {
    font-family: $font-inf;
    font-weight: 600;
    font-style: normal;
  }
}


/* ----------------------------------------------------------------------
  SLIDES / Button
---------------------------------------------------------------------- */
.Slide__CTA {
  font-size: $scale-xs;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.5rem;

  @include mq-sm {
    font-size: $scale-sm;
    bottom: 5rem;
  }
}
.Slide__button {
  background: #ffffff;
  color: $clr-dark-2;
  font-family: $font-inf;
  font-size: $scale-xs;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2ch;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  height: 5rem;
  width: calc(100vw - 7.5rem);
  
  @include mq-xs {
    width: 30rem;
  }
  @include mq-sm {
    width: 40rem;
    font-size: 0.875em;
  }
  @include mq-md {
    width: 50rem;
    font-size: 1em;
  }
}
